{% extends "users/base.html" %}
{% block title %} Tekliflerim {% endblock title %}
{% block content %}
    <h3>Teklifinizin Detayı</h3>



    <ul class="list-group">

        <li class="list-group-item"><b>Başlık:</b> {{ offer.service_title }}</li>
        <li class="list-group-item"><b>Kategori:</b> {{ offer.service_category }}</li>
        <li class="list-group-item"><b>Alt Kategori:</b> {{ offer.service_subcategory }}</li>
        <li class="list-group-item"><b>İsim:</b> {{ offer.service_name }}</li>
        <li class="list-group-item"><b>Tanım:</b> {{ offer.service_description }}</li>
        <li class="list-group-item"><b>Tarih:</b> {{ offer.service_date }}</li>
        <li class="list-group-item"><b>Süre:</b> {{ offer.service_duration }} saat</li>
        <li class="list-group-item"><b>Yer:</b> {{ offer.service_spot }}</li>
        <li class="list-group-item"><b>Şehir:</b> {{ offer.service_city }}</li>
        <li class="list-group-item"><b>İlçe:</b> {{ offer.service_district }}</li>
        {% if offer.is_service_taker_finalized == True %}
            {% for request in offer.requests.all %}
                {% if request.id == offer.accepted_request_id %}
                    <li class="list-group-item"><b>Hizmeti Alan:</b> {{ request.request_creator.username }}</li>
                {% endif %}
            {% endfor %}
            <li class="list-group-item"><b>Değerlendirme Puanı:</b> {{ offer.service_rating }}</li>
            <li class="list-group-item"><b>Yorum:</b> {{ offer.service_comment }}</li>
        {% endif %}

    </ul>
    <br>

    {% if offer.is_service_cancelled == False %}
        {% if offer.is_service_provider_finalized == False %}
            <a class="btn btn-primary btn-lg" href="{% url "offers_form_edit" offer.id %}" role="button">Değişiklik
                Yap</a>
            <a class="btn btn-secondary btn-lg" href="{% url "request_list" offer.id %}" role="button">Talepleri Gör</a>
            {% if offer.is_request_accepted == True %}
                <a class="btn btn-secondary btn-lg" href="{% url "offer_finalize" offer.id %}"
                   role="button">Tamamlandı</a>
            {% endif %}
            <a class="btn btn-danger btn-lg" href="{% url "offers_form_delete" offer.id %}" role="button">Sil</a>
        {% endif %}
    {% endif %}






{% endblock content %}

