{% extends "users/base.html" %}
{% block title %} Register Page {% endblock title %}

{% block content %}
    <br>
    <h4>Teklif Yönetimi</h4>



    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tekliflerim</th>
            <th scope="col">Teklif Durumu</th>
            <th scope="col">İlgilenenler</th>
            <th scope="col">Onayladıklarım</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in my_offers_list %}
            <tr>
                <!--1. column -->
                <th scope="row">{{ forloop.counter }}</th>
                <!--2. column -->
                <td><a href="{% url "my_offers_detail" offer.id %}">{{ offer }}</a></td>
                <!--3. column -->
                {% if offer.is_requested == False %}
                    <td>Teklifinize henüz talep yok.</td>
                {% elif offer.is_requested == True and  offer.is_request_accepted == False %}
                    <td>Onay bekleyen talepleriniz var.</td>
                {% elif offer.is_request_accepted == True and offer.is_service_provider_finalized == False %}
                    <td>Onayladığınız bir talep var, tarihi unutmayın!</td>
                {% elif offer.is_service_provider_finalized == True and offer.is_service_taker_finalized == False %}
                    <td>Servisi verdiniz, karşı tarafın onayı bekleniyor.</td>
                {% elif offer.is_service_taker_finalized == True %}
                    <td>Teklif kapandı.</td>
                {% endif %}
                <!--4. column: -->
                {% if offer.request_count == 0 %}
                    <td> Henüz ilgilenen yok!</td>
                {% else %}
                    <td><a href="{% url "request_list" offer.id %}">{{ offer.request_count }} Üye</a></td>
                {% endif %}
                <!--5. column: Onayladıklarım -->
                {% if offer.is_request_accepted == True %}
                    {% for request in offer.requests.all %}
                        {% if request.id == offer.accepted_request_id %}
                            <td>
                                <a href="{% url 'gen_profile' request.request_creator.id %}">{{ request.request_creator.username }}</a>
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td>-</td>
                {% endif %}


            </tr>
        {% endfor %}

        </tbody>
    </table>





{% endblock content %}