{% extends "users/base.html" %}
{% block title %} Register Page {% endblock title %}

{% block content %}
    <br>
    <h4>Teklif Yönetimi</h4>



    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tekliflerim</th>
            <th scope="col">Teklif Durumu</th>
            <th scope="col">İlgilenenler</th>
            <th scope="col">Onayladıklarım</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in my_offers_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url "my_offers_detail" offer.id %}">{{ offer }}</a></td>

                {% if offer.status == 1 %}
                    <td>Teklifiniz bekliyor</td>
                {% elif offer.status == 2 %}
                    <td>Teklifinize talep var</td>
                {% elif offer.status == 3 %}
                    <td>Talebi onayladınız</td>
                {% endif %}



                {% if offer.request_count == 0 %}
                    <td> Henüz ilgilenen yok!</td>
                {% else %}
                    <td><a href="{% url "request_list" offer.id %}">{{ offer.request_count }} Üye</a></td>
                {% endif %}

                {% for request in requests %}
                    {% if request.related_offer_id == offer.id and request.status == 3 %}

                        <td>
                            <a href="{% url 'gen_profile' request.request_creator.id %}">{{ request.request_creator.username }}</a>
                        </td>

                    {% else %}
                        <td>-</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>





{% endblock content %}