{% extends "users/base.html" %}
{% block title %} Register Page {% endblock title %}

{% block content %}
    <br>
    <h4>Teklif Yönetimi</h4>



    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tekliflerim</th>
            <th scope="col">Teklif Durumu</th>
            <th scope="col">İlgilenenler</th>
            <th scope="col">Onayladıklarım</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in my_offers_list %}
            <tr>
                <!--1. column -->
                <th scope="row">{{ forloop.counter }}</th>
                <!--2. column -->
                <td><a href="{% url "my_offers_detail" offer.id %}">{{ offer }}</a></td>
                <!--3. column -->
                {% if offer.status == 1 %}
                    <td>Teklifiniz bekliyor</td>
                {% elif offer.status == 2 %}
                    <td>Teklifinize talep var</td>
                {% elif offer.status == 3 %}
                    <td>Talebi onayladınız</td>
                {% elif offer.status == 4 %}
                    <td>Servisi Verdiniz</td>
                {% elif offer.status == 5 %}
                    <td>Tamamlandı</td>
                {% endif %}
                <!--4. column: -->
                {% if offer.request_count == 0 %}
                    <td> Henüz ilgilenen yok!</td>
                {% else %}
                    <td><a href="{% url "request_list" offer.id %}">{{ offer.request_count }} Üye</a></td>
                {% endif %}
                <!--5. column: Onayladıklarım -->
                {% if offer.status > 2 %}
                    {% for request in offer.requests.all %}
                        {% if request.status > 2 %}
                            <td>
                                <a href="{% url 'gen_profile' request.request_creator.id %}">{{ request.request_creator.username }}</a>
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td>-</td>
                {% endif %}


            </tr>
        {% endfor %}

        </tbody>
    </table>





{% endblock content %}