{% extends "users/base.html" %}
{% block title %} Requesters {% endblock title %}
{% block content %}
    <h5>Who are interested in your offer: {{ offer }} </h5>


    <ul class="list-group">

        {% for request in requests %}
            <li class="list-group-item">
                {% if request.is_cancelled == False %}
                    <a href="{% url "request_detail" request.id %}">{{ request.request_creator.username }}</a>
                {% endif %}
            </li>
        {% endfor %}

    </ul>



{% endblock content %}

