{% extends "users/base.html" %}
{% block title %} Tekliflerim {% endblock title %}
{% block content %}
    <br>
    <h4>Requested: <b>{{ profile.user.username }}</b></h4>

    <ul class="list-group">
        <li class="list-group-item"><b>Request Owner:</b> {{ profile.user.first_name }} {{ profile.user.last_name }}
        </li>
        <li class="list-group-item"><b>Mail:</b> {{ profile.user.email }} </li>
        <li class="list-group-item"><b>Bio:</b> {{ profile.bio }} </li>
        <li class="list-group-item"><b>Total Hours of Service:</b> {{ profile.tot_hours_of_service }} </li>
        <li class="list-group-item"><b>Average Rating:</b> {{ profile.average_rating }} </li>
        <li class="list-group-item"><b>Time Credits:</b> {{ profile.credits }} </li>
        <li class="list-group-item"><b>Her/His Message: </b> {{ coming_request.message }} </li>
    </ul>
    <br>
    <br>
    {% if offer.is_request_accepted == False %}
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success btn-sm">Accept</button>
                <a class="btn btn-secondary btn-sm" href="../" role="button">Cancel</a>
            </form>
        </div>
    {% endif %}

{% endblock content %}

