{% extends "users/base.html" %}
{% block title %} Tekliflerim {% endblock title %}
{% block content %}
    <h3>Teklif Detayı</h3>



    <ul class="list-group">
        <li class="list-group-item">
            <b>Oluşturan:</b> {{ offer.offer_creator.first_name }} {{ offer.offer_creator.last_name }}</li>
        <li class="list-group-item"><b>Başlık:</b> {{ offer.service_title }}</li>
        <li class="list-group-item"><b>Kategori:</b> {{ offer.service_category }}</li>
        <li class="list-group-item"><b>Alt Kategori:</b> {{ offer.service_subcategory }}</li>
        <li class="list-group-item"><b>İsim:</b> {{ offer.service_name }}</li>
        <li class="list-group-item"><b>Tanım:</b> {{ offer.service_description }}</li>
        <li class="list-group-item"><b>Tarih:</b> {{ offer.service_date }}</li>
        <li class="list-group-item"><b>Süre:</b> {{ offer.service_duration }} saat</li>
        {% if offer.service_new_duration != offer.service_duration %}
            <li class="list-group-item"><b> Güncellenen Süre:</b> {{ offer.service_new_duration }} saat</li>
        {% endif %}
        <li class="list-group-item"><b>Yer:</b> {{ offer.service_spot }}</li>
        <li class="list-group-item"><b>Şehir:</b> {{ offer.service_city }}</li>
        <li class="list-group-item"><b>İlçe:</b> {{ offer.service_district }}</li>
    </ul>
    <br>
    {% if offer.is_service_provider_finalized == True and offer.is_service_taker_finalized == False %}
        <a class="btn btn-primary btn-lg" href="{% url "request_finalize" offer.id %}" role="button">Onayla</a>
    {% endif %}

    {% if  offer.is_service_provider_finalized != True and my_request.is_cancelled != True %}
        <a class="btn btn-primary btn-lg" href="{% url "req_del" offer.id %}" role="button">İptal Et</a>
    {% endif %}




{% endblock content %}

