{% extends "users/base.html" %}
{% block title %} Offer Detail {% endblock title %}
{% block content %}
    <h3>Service Details:</h3>



    <ul class="list-group">
        <li class="list-group-item">
            <b>Service Provider:</b> {{ offer.offer_creator.first_name }} {{ offer.offer_creator.last_name }}</li>
        <li class="list-group-item"><b>Title:</b> {{ offer.service_title }}</li>
        <li class="list-group-item"><b>Category:</b> {{ offer.service_category }}</li>
        <li class="list-group-item"><b>Subcategory:</b> {{ offer.service_subcategory }}</li>
        <li class="list-group-item"><b>Service Name:</b> {{ offer.service_name }}</li>
        <li class="list-group-item"><b>Description:</b> {{ offer.service_description }}</li>
        <li class="list-group-item"><b>Date:</b> {{ offer.service_date }}</li>
        <li class="list-group-item"><b>Duration:</b> {{ offer.service_duration }} saat</li>
        {% if offer.service_new_duration != offer.service_duration %}
            <li class="list-group-item"><b> Updated Duration:</b> {{ offer.service_new_duration }} saat</li>
        {% endif %}
        <li class="list-group-item"><b>Location:</b> {{ offer.service_spot }}</li>
        <li class="list-group-item"><b>City:</b> {{ offer.service_city }}</li>
        <li class="list-group-item"><b>District:</b> {{ offer.service_district }}</li>
    </ul>
    <br>
    <h6><b>Service Provider's Message:</b></h6>
    <ul class="list-group">
        <li class="list-group-item">{{ my_request.response_message }}</li>
    </ul>


    <br>

    {% if offer.is_service_provider_finalized == True and offer.is_service_taker_finalized == False %}
        <a class="btn btn-primary btn-lg" href="{% url "request_finalize" offer.id %}" role="button">Finalize</a>
    {% endif %}

    {% if  offer.is_service_provider_finalized != True and my_request.is_cancelled != True %}
        <a class="btn btn-primary btn-lg" href="{% url "req_del" offer.id %}" role="button">Cancel</a>
    {% endif %}




{% endblock content %}

