{% extends "users/base.html" %}
{% block title %} Request Management {% endblock title %}

{% block content %}
    <br>
    <h4>Request Management</h4>



    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">My Requests</th>
            <th scope="col">Request Status</th>
            <th scope="col">Offer Owner</th>
            <th scope="col">Request Creation Date</th>
        </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>

                {% if request.related_offer.is_service_cancelled == True %}
                    <td>{{ request.related_offer }}</td>
                {% else %}
                    <td><a href="{% url "offer_detail" request.related_offer_id %}">{{ request.related_offer }}</a></td>
                {% endif %}

                {% if request.related_offer.is_service_cancelled == True %}
                    <td>This offer has been cancelled!</td>
                {% else %}
                    <!-- -->
                    {% if request.is_cancelled == True %}
                        <td>You have cancelled your request.</td>
                    {% else %}
                        {% if request.id != request.related_offer.accepted_request_id %}
                            {% if request.related_offer.is_service_taker_finalized == True %}
                                <td>Service has been finalized.</td>
                            {% else %}
                                <td>Your request has been forwarded..</td>
                            {% endif %}
                        {% else %}
                            {% if request.related_offer.is_request_accepted == True and request.related_offer.is_service_provider_finalized == False %}
                                <td>Your request has been accepted, don't forget the date!</td>
                            {% elif request.related_offer.is_service_provider_finalized == True and request.related_offer.is_service_taker_finalized == False %}
                                <td>You have received the service, please confirm.</td>
                            {% elif request.related_offer.is_service_taker_finalized == True %}
                                <td>Service has been finalized.</td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <!-- -->
                {% endif %}
                <td>
                    <a href="{% url 'gen_profile' request.related_offer.offer_creator.id %}">{{ request.related_offer.offer_creator.username }}</a>
                </td>
                <td>{{ request.timestamp }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>





{% endblock content %}