{% extends "users/base.html" %}
{% block title %} Tekliflerim {% endblock title %}
{% block content %}
    <br>
    <h4>Please confirm the service you have received:</h4>

    <br>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success btn-sm">Confirm</button>
            <a class="btn btn-secondary btn-sm" href="../" role="button">Cancel</a>
        </form>
    </div>

{% endblock content %}

