{% extends "users/base.html" %}
{% block title %} Register Page {% endblock title %}

{% block content %}
    <br>
    <h4>Talep Yönetimi</h4>



    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Taleplerim</th>
            <th scope="col">Talep Durumu</th>
            <th scope="col">Teklif Sahibi</th>
            <th scope="col">Onayladıklarım</th>
        </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url "offer_detail" request.related_offer_id %}">{{ request.related_offer }}</a></td>

                {% if request.status == 1 %}
                    <td>{{ my_status.1 }}</td>
                {% elif request.status == 2 %}
                    <td>{{ my_status.2 }}</td>
                {% elif request.status == 3 %}
                    <td>{{ my_status.3 }}</td>
                {% elif request.status == 4 %}
                    <td><a href="{% url "offer_detail" request.related_offer_id %}">{{ my_status.4 }}</a></td>
                {% elif request.status == 5 %}
                    <td>{{ my_status.5 }}</td>

                {% endif %}

                <td>
                    <a href="{% url 'gen_profile' request.related_offer.offer_creator.id %}">{{ request.related_offer.offer_creator.username }}</a>
                </td>
                <td>Z</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>





{% endblock content %}