{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{ user.first_name.title|default:'Guest' }}</h1>
        <p class="lead">
            We're a commununity gathered around the idea of sharing our time with each other. In time-sharing, you help
            someone for an hour - for example by teaching them something that you're good at.

        <p class="lead">For every hour of help you give, you earn an hour’s credit from the system. You can spend your
            time credit by receiving an hour of someone else’s time. No money is exchanged and everyone's time is valued
            equally.</p>
        {% if user.is_authenticated %}
            <p class="lead">You can right now create an offer to help someone or check your existing offers.</p>
        {% endif %}

        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'offers_form' %}" role="button">Create a Service
                    Offer</a>
                <a class="btn btn-primary btn-lg" href="{% url 'my_offers_list' %}" role="button">My Offers</a>

                <a class="btn btn-primary btn-lg" href="{% url 'req_man' %}" role="button">My Requests</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
                <a class="btn btn-primary btn-lg" href="{% url 'users-register' %}" role="button">Join Us</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}