{% extends "users/base.html" %}
{% block title %} Teklifler {% endblock title %}
{% block content %}
    <div class="h-75 jumbotron">
        {% if offers %}
            <h3> We have found some services for you! </h3>
        {% else %}
            <h3> Sorry, no available services yet! </h3>
        {% endif %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Available Offers:</th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr>
                {% if offer.offer_creator_id != user.id and offer.is_service_cancelled == False %}
                    <td><a href="{% url "all_offers_detail" offer.id %}">{{ offer }}</a></td>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock content %}